<div class="controls">
  <div class="jp-audio-paid" data-role="dropDownPlayerPaid">
    <div class="jp-audio-preview-paid">
      {{ 'Audio available<br />in mobile audio guide only'|t }}
    </div>
    <div class="jp-type-single">
      <div class="jp-gui jp-interface">
        <ul class="jp-controls">
          <li class="item">
            <div class="link jp-play-paid"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <a href="{{ app_url }}" class="drop-down-get-app-button" data-role="appInstall">
    <div class="app to-right" data-role="appLinks">
      <div class="text">
        {{ 'Mobile App'|t }}
      </div>
    </div>
  </a>
</div>
