<div class="get-app-block-small strip strip--white">
  <div class="contained">
    <h2 class="promo__title strip__title">{{ 'Get the best experience on your smartphone!'|t }}</h2>
    <div class="clearfix">
      <h2>{{ 'Get full featured audio guide'|t }}</h2>
      {% for link in links %}
        {{ link }}
      {% endfor %}
    </div>
  </div>
</div>
