{% if show_widget == 1 %}
  <div class="contained tiqets_widget"
       data-tiqets-widget='discovery'
       data-language="{{ language }}"
       data-currency=''
       data-city-id="{{ city }}"
       data-width='1200'
       data-height='165'
       data-partner="{{ partner }}"
       data-cards-layout=’vertical’
       data-tq-campaign="{{ campaign }}">
  </div>
{% endif %}
